.listBox {
  @include flex;
  position: relative;
  flex-shrink: 0;
  flex-direction: column;
  max-height: 83vh;
  width: 16rem;
  margin: 0px $spacing-sm;
  background-color: $box-background-color;
  border-radius: 0.2rem;

  .listBoxHeader {
    padding: $spacing-sm $spacing-sm 0 $spacing-sm;
    width: $w-full;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 0.5rem;

    .header {
      width: $w-full;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 0;
    }

    & input {
      margin-bottom: 0;
    }

    & svg {
      display: inline-block;
      font-size: inherit;
      width: 1em;
      height: 1em;
      overflow: visible;
      vertical-align: -0.125em;
      cursor: pointer;
    }
  }
}
