.createCard {
  font-size: 1rem;
  color: $card-foreground-color;
  font-weight: 600;
  background-color: $card-background-color;
  border-radius: 0.4rem;
  transition: background-color 0.2s ease-in;
  border: none;
  cursor: pointer;
}

.createCardContainer {
  height: $h-full;
  max-height: 6.25rem;
  background-color: $card-background-color;
  border-radius: 0.4rem;
}
