.container {
  padding: 0.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: $blue-color;

  h2:first-of-type {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .listCols {
    @include flex-row;
    max-height: 6.25rem;
    min-height: min-content;
    height: $h-full;
    overflow: hidden;

    .listCol {
      @include flex-column;

      flex-shrink: 0;
      margin-right: 0.4rem;
      border-radius: 0.2rem;
      overflow: hidden;
      height: $h-full;
      min-height: min-content;
      max-height: 1.5rem;
    }

    .listCol:last-child {
      margin-right: 0;
    }

    .cardCell {
      width: 1.5rem;
      height: $h-full;
      min-height: min-content;
      max-height: 0.75rem;
      background: rgba(255, 255, 255, 0.25);
      flex-shrink: 0;
      border-radius: 0;

      &.bordered {
        border-radius: 0.2rem;
      }
    }
  }

  // Color variants
  &.blue {
    background-color: $blue-color;
    &:hover {
      background-color: shade($blue-color, 10%);
    }
  }

  &.green {
    background-color: $green-color;
    &:hover {
      background-color: shade($green-color, 10%);
    }
  }

  &.orange {
    background-color: $orange-color;
    &:hover {
      background-color: shade($orange-color, 10%);
    }
  }

  &.purple {
    background-color: $purple-color;
    &:hover {
      background-color: shade($purple-color, 10%);
    }
  }

  &.pink {
    background-color: $pink-color;
    &:hover {
      background-color: shade($pink-color, 10%);
    }
  }
}
