.wrapper {
  padding: $spacing-md $spacing-lg;

  h1:first-of-type {
    margin-bottom: $spacing-md;
    font-size: $spacing-lg;
    font-weight: 600;
  }

  .container {
    @include grid;
    @include grid-gap;

    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: minmax(9rem, 1fr);
  }
}
